tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style27
	{background:#FFC7CE;
	mso-pattern:black none;
	color:#9C0006;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Bad;
	mso-style-id:27;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	mso-number-format:"\@";
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:"\@";
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	font-size:10.0pt;
	text-align:right;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	mso-number-format:"General Date";}
.xl71
	{mso-style-parent:style0;
	mso-number-format:"Short Date";}
.xl72
	{mso-style-parent:style0;
	mso-number-format:"\#\,\#\#0";}
.xl73
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	font-size:10.0pt;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style27;
	color:#9C0006;
	background:#FFC7CE;
	mso-pattern:black none;
	white-space:normal;}
